@import url('https://fonts.googleapis.com/css?family=Roboto');

    .total {
        margin: 5px;
        font-family: 'Roboto', sans-serif;
        overflow-x: hidden;
        background: rgba(255, 255, 255, 0.45);
        background-color: #EEF1FC;
    }

    .test {
        text-align: center;
    }

    .img {
        border: 2px solid #4181ee;
        width: 60%;
        height: 60%;
    }

    h2 {
        padding-top: 10px;
    }

    .main--bgc {
        background-color: #eef1fc;
    }

    /*@media (min-width: 992px) {
        .nav-link::after {
            content: '';
            display: block;
            width: 0;
            height: 2px;
            background: #597FE2;
            margin: 0 auto;
            -webkit-transition: width .1s;
            transition: width .1s;
        }

        .nav-link:hover::after {
            width: 40%;
        }
    }*/
    a {
    text-decoration: none;
  }
  
  /*img {
        width: 150px !important;
    }*/
    #max{
       font-weight: 400;
    }

  li {
    list-style: none;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    align-items: center;
    
  }

  .navbar .logo {
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 37px;
    letter-spacing: 0.075em;
    color: #000000;
  }

  .nav-links {
    display: flex;
  }

  .nav-links li a {
    padding: 0 1.5rem;
    font-weight: bold;
    color: #13274F;
    opacity: 0.6;
  }

  .nav-links li a:hover {
    border-bottom: 2px solid #597FE2;
    width: 50%;
    padding-bottom: 0.5rem;
    opacity: 1;
  }
@media(max-width: 480px) {

.navbar .logo {
  font-weight: bold;
  font-size: 3rem;
}

.nav-links {
  flex-direction: column;
}

.nav-links li a {
  margin: 1rem 0;
}

.nav-links li a:hover {
  border-bottom: 1px solid #597FE2;
  width: 50%;
  padding-bottom: 0.1rem;
  opacity: 1;
}
}
@media(max-width: 540px) {

.navbar .logo {
  font-weight: bold;
  font-size: 3rem;
}

.nav-links li a {
  justify-content: space-between;
  color: #13274F;
  opacity: 0.6;
  padding: 0 1rem;
  font-size: 0.7rem;
}
}
@media(max-width: 625px) {

.navbar .logo {
  font-weight: bold;
  font-size: 3rem;
}

.nav-links li a {
  justify-content: space-between;
  color: #13274F;
  opacity: 0.6;
  padding: 0 1rem;
  font-size: 0.8rem;
}
}
@media(max-width: 800px) {
    .navbar {
      flex-direction: column;
    }

    .navbar .logo {
      margin-bottom: 2rem;
      font-size: 4rem;
    }

    .nav-links li a {
      justify-content: space-between;
      color: #13274F;
      opacity: 0.6;
      padding: 0 1rem;
      font-size: 1rem;
    }
  }