<!-- <p>profile works!</p> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    
<div class="body">
    <div class="card">
        <div class="profile-sidebar">
            <img  class="profile-image" src="https://media-exp1.licdn.com/dms/image/C4D03AQHtrZ1ee8VAPg/profile-displayphoto-shrink_200_200/0/1603349798632?e=1627516800&v=beta&t=EULz8fm5ks7p5_o18DdpDSyoO363SyABtatx1xvbcE0" alt="">
            <ul class="social-list">
                <li class="social-item"><a aria-label="stackOverFlow" class="social-link" href="https://stackoverflow.com/users/13479970/vedavyas"><i class="fab fa-stack-overflow"></i></a></li>
                <li class="social-item"><a aria-label="twitter" class="social-link" href="https://github.com/Vedavyas17"><i class="fab fa-github"></i></a></li>
                <li class="social-item"><a aria-label="linkedin" class="social-link" href="https://www.linkedin.com/in/chakkirala-vedavyas-652309169"><i class="fab fa-linkedin"></i></a></li>
            </ul>
        </div>
        <div class="profile-main">
            <h2 class="profile-name">VEDAVYAS CHAKKIRALA<p>Email:vchakkirala@kaartech.com<p>Phone : 9182043268</p></h2>
            <p class="profile-position">SAP Techno-Functional Consultant</p>
            <p class="profile-body">An algorithms enthusiast passionate about problem solving. Looking forward to build a great career in Software Engineering. Areas of interest include Full Stack Development and Machine learning.</p>
            <p class="profile-pos">My Education</p>
            <p class="profile-body">I'm currently persuing my Bachelor of Engineering in Electronics and communication Engineering </p>
            <p class="profile-pos">My Intrests</p>
            <p class="profile-body">An algorithms enthusiast passionate about problem solving.Areas of interest include Full Stack Development and Machine learning. </p>
            <p class="profile-pos">My Work</p>
            <p class="profile-body"> I have created an AI Chatbot that lets you chat with an automated general practice doctor and get a quick diagnosis and treatment plan.The App is built for both iOS and Android platforms using the Flutter Framework and enables you to use your voice to communicate with the AI doctor.It is trained by Reddit, Health Tap and WebMD medical questions and answers.</p>
        </div>
    </div></div>
