<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
    integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" >
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <div class="total">
  
  <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="logo" ><img
        src="https://res-5.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_170,w_170,f_auto,b_white,q_auto:eco/04c7b348b02d2c82bf60"
        alt="KAAR"></div>

    <div class="nav-links">
        <li class="h5"><a routerLink="/my">My Profile</a></li>
      <li><a href="#"></a></li>
      <li class="h5"><a href="https://www.kaartech.com/excellence/">About KAAR</a></li>
      <li><a href="#"></a></li>
      <li class="h5"><a href="https://www.kaartech.com/contact-us/">Contact Us</a></li>
    </div>

  </nav>
<div></div>
<div class="main--bgc pb-5">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 130 1440 85">
        <path fill="#f8f9fa" fill-opacity="1"
            d="M0,224L60,224C120,224,240,224,360,213.3C480,203,600,181,720,181.3C840,181,960,203,1080,197.3C1200,192,1320,160,1380,144L1440,128L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z">
        </path>
    </svg></div>

  <header class="header">
    <!--<img
      src=""
      alt="kaar" style="width: 90%; height: 40%;align-items: center;margin-bottom: 10px;"> -->

    <!-- <button>PORTALS</button> -->
    <!-- carosoul -->
    <div class="body1">
    <div id="content-slider">
      <div class="slider-wrap"> 
    
        <h1 class="slider-main-title">KAAR Tech</h1>
    
        <!-- ===== Thumbnail ControlNav ======= -->         
        <input type="radio" id="input-1" name="i" >         
        <input type="radio" id="input-2" name="i" >         
        <input type="radio" id="input-3" name="i" >
        <input type="radio" id="input-4" name="i" >
    
        <nav class="slider-dot-control">
          <label for="input-1" class="slider-dot"></label>
          <label for="input-2" class="slider-dot"></label>
          <label for="input-3" class="slider-dot"></label>
          <label for="input-4" class="slider-dot"></label>
        </nav>
    
        <!-- =================================== -->    
        <nav class="slider-arrow-control">
          <label for="input-1"></label>
          <label for="input-2"></label>
          <label for="input-3"></label>
          <label for="input-4"></label>
        </nav>
        <!-- =================================== -->
        <!-- ===== IMages ======= -->                           
    
        <div class="slider">
          <div class="slider-inner">
    
            <figure >
              <figcaption class="slider-head" style="margin: 28rem 1rem 1rem 20rem;">
                <!-- <h2>Stearman PT-17</h2> -->
                <!-- <p>Lorem ipsum dolor.</p> -->
                <button class="h5 card-btn" onClick="document.getElementById('content').scrollIntoView();" style="margin-left: 45%;margin-right: 20%;background-color:#fe5058ff;font-weight: 500;"><h3 style="margin-bottom: 3px;color:#fff">View Portals</h3></button>
                <!-- <a href="#">read more...</a> -->
              </figcaption>
              <img src="assets/saplogo.jpg" alt="" id="i-1" class="slider-img" >
            </figure>
    
            <figure>
              <figcaption class="slider-head" style="margin: 26rem 1rem 1rem 20rem;">
                <!-- <h2>Sunset airport</h2> -->
                <!-- <p>Lorem ipsum.</p> -->
                <button class="h5 card-btn" onClick="document.getElementById('content').scrollIntoView();" style="margin-left: 45%;margin-right: 20%;background-color:rgb(112, 149, 252);font-weight: 500;border-radius: 15px;"><h3 style="margin-bottom: 3px;color:#fff">View Portals</h3></button>
                <!-- <a href="">read more...</a> -->
              </figcaption>
              <img src="assets/erp1.gif" alt="" id="i-2" class="slider-img" style="object-fit: contain;background-color: lightpink;">
            </figure>
    
            <figure>
              <figcaption class="slider-head">
                <!-- <h2>Hawker Sea Fury</h2>  -->
                <!-- <p>Lorem ipsum dolor sit.</p> -->
                <button class="h5 card-btn" onClick="document.getElementById('content').scrollIntoView();" style="margin-left: 45%;margin-right: 20%;background-color:rgb(180, 37, 18);font-weight: 500;"><h3 style="margin-bottom: 3px;color:#fff">View Portals</h3></button>
                <!-- <a href="#">read more...</a> -->
              </figcaption>
              <img src="assets/bg3.png" alt="" id="i-3" class="slider-img" style="background-color: lightpink;">
            </figure>
    
            <figure style="background-color: lightpink;">
              <figcaption class="slider-head" style="margin: 28rem 1rem 1rem 20rem;">
                <!-- <h2>Panavia Tornado</h2> -->
                <!-- <p>Lorem ipsum dolor.</p> -->
                <button class="h5 card-btn" onClick="document.getElementById('content').scrollIntoView();" style="margin-left: 45%;margin-right: 20%;background-color:rgb(211, 155, 35);font-weight: 500;"><h3 style="margin-bottom: 3px;color:#fff">View Portals</h3></button>
                <!-- <a href="#">FIND OUT MORE</a> -->
              </figcaption>
              <img src="assets/bg4.png" alt="" id="i-4" class="slider-img" style="object-fit: contain;background-color: lightpink;height:auto;">
            </figure>
    
    
            <figure>
              <figcaption class="slider-head">
                <!-- <h2>Stearman PT-17</h2> -->
                <!-- <p>Lorem ipsum dolor.</p> -->
                <button class="h5 card-btn" style="margin-left: 45%;margin-right: 20%;background-color:rgb(211, 35, 35);font-weight: 500;"><h3 style="margin-bottom: 3px;color:#fff">View Portals</h3></button>
                <!-- <a href="#">read more...</a> -->
              </figcaption>
              <img src="https://images.unsplash.com/photo-1563782414411-b05969e9ebd4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=751&q=80" alt="" id="i-5" class="slider-img">
            </figure>               
          </div>
        </div>                  
    
      </div>        
    </div></div>
    <!-- carosoul ends -->
    <h1 style="font-size: 50px;color: #4181ee;margin-top: 70px;margin-bottom: 10px;">SAP Enterprise Application - 2021</h1>
    <h3>
      <p style="font-size: 20px; color:#212529;margin-top: 45px;width: 60%;">" The main objective of the portal development is to make oneself gain
        business level understanding of the SAP core functional modules and to become full stack techno functional
        consultant. One should design an SAP ERP Portal for a particular organisation which is a user-friendly
        portal ".</p>
    </h3>
    
  </header>

</div>

<div class="all">
  <h1 id="content" style="font-size: 40px;color: #4181ee;margin-top: 10px;">SAP PORTALS</h1>
  <div class="wrapper">
    <div class="card">
      <h3 class="card-title">CUSTOMER PORTAL</h3>
      <p class="card-content">The objective of the customer portal is to understand the functionalities of Sales and
        Distribution
        (SD) and Finance (FI) module. This portal is to be designed for maintaining the data of all the
        customers carrying out business with the organization. The need of Customer portal is to access
        and view the complete transaction between the company and customer.
      </p>
      <button class="card-btn" routerLink="/signin">EXPLORE</button>
    </div>
    <div class="card">
      <h3 class="card-title">VENDOR PORTAL</h3>
      <p class="card-content">The objective of the vendor portal is to understand the functionalities of Material
        Management
        (MM) and Finance (FI) module. This portal is to be designed for maintaining the data of all the
        vendors carrying out business with the organization. The need of vendor portal is to access and
        view the complete transaction between the company and vendor.</p>
      <button class="card-btn" routerLink="/vendor">EXPLORE</button>
    </div>
    <div class="card">
      <h3 class="card-title">EMPLOYEE PORTAL</h3>
      <p class="card-content">The objective of the Employee portal is to understand the functionalities of Human
        Resource
        (HR) and Finance (FI) module. This portal is to be designed for providing info about the
        organization and employees, getting the pay slip as printable, leave balance and to request
        leave. The need of Employee portal is to have quick and easy access to HR-related transactions
        and services.</p>
      <button class="card-btn" routerLink="/employee">EXPLORE</button>
    </div>
  </div>
</div>

<div class="total">
  <footer class="footer">

    <div class="footer-text">
      <div>
        <h4>Portal's vision</h4>
        <p>
          The main vision of this portal development is to make oneself gain business level
          understanding of the SAP core functional modules and to become full stack techno functional
          consultant. One should design an SAP ERP Portal for a particular organisation which is a user-friendly
          portal.
        </p>
      </div>
      <div>
        <h4>Life at Kaar</h4>
        <p>
          Kaar offers a great work life balance to motivate and nurture employees, while promoting holistic
          growth.
        </p>
      </div>
      <div>
        <h4>Mission at Kaar</h4>
        <p>
          To remain a socially responsible corporate entity, which will instill a sense of pride, joy and
          accomplishment, in every facet of its interaction, to everyone associated, be it the employees, customers,
          vendors or stakeholders.
        </p>
      </div>
    </div>

    <h4>© Kaar Technologies 2021.Our Privacy Policy may change from time to time and all updates will be posted on
      this page.</h4>

  </footer>
</div>