@import url('https://fonts.googleapis.com/css?family=Roboto');

.total {
    margin: 5px;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    background: rgba(255, 255, 255, 0.45);
    background-color: #EEF1FC;
}
